<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!-- 不扫描@Controller -->
    <context:component-scan base-package="com" annotation-config="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:mass.properties</value>
            </array>
        </property>
        <property name="fileEncoding">
            <value>UTF-8</value>
        </property>
    </bean>


    <!-- spring工具类 -->
    <!--<bean class="com.mass.base.util.SpringUtil"/>-->
    <!-- 导入jdbc相关的配置文件-->
    <import resource="applicationContext-jdbc.xml"/>
    <!-- 导入redis相关的配置文件 -->
    <!--<import resource="applicationContext-redis.xml"/>-->
    <!-- shiro相关的配置文件 -->
    <!--<import resource="applicationContext-shiro.xml"/>-->
    <!--aop配置-->
    <!--<import resource="applicationContext-aop.xml" />-->

</beans>
